In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("Credit Card Customer Data.csv")
dataset

,Sl_No,Customer Key,Avg_Credit_Limit,Total_Credit_Cards,Total_visits_bank,Total_visits_online,Total_calls_made
0,1,87073,100000,2,1,1,0
1,2,38414,50000,3,0,10,9
2,3,17341,50000,7,1,3,4
3,4,40496,30000,5,1,1,4
4,5,47437,100000,6,0,12,3
...,...,...,...,...,...,...,...
655,656,51108,99000,10,1,10,0
656,657,60732,84000,10,1,13,2
657,658,53834,145000,8,1,9,1
658,659,80655,172000,10,1,15,0
659,660,80150,167000,9,0,12,2

In [3]:
dataset.columns

Index(['Sl_No', 'Customer Key', 'Avg_Credit_Limit', 'Total_Credit_Cards',
       'Total_visits_bank', 'Total_visits_online', 'Total_calls_made'],
      dtype='object')

In [4]:
X=dataset.iloc[:,3:7].values

In [5]:
X

array([[ 2,  1,  1,  0],
       [ 3,  0, 10,  9],
       [ 7,  1,  3,  4],
       ...,
       [ 8,  1,  9,  1],
       [10,  1, 15,  0],
       [ 9,  0, 12,  2]], dtype=int64)

In [ ]:
!pip install scikit-learn

In [ ]:
!pip install matplotlib

In [ ]:
import matplotlib.pyplot as plt

In [ ]:

from sklearn.cluster import KMeans
list1=[]
for i in range(1,11):
    kmeans=KMeans(n_clusters=i,init='k-means++',random_state=42)
    kmeans.fit(X)
    list1.append(kmeans.inertia_)
plt.plot(range (1 , 11), list1)
plt.title("The Elbow method")
plt.xlabel("Total_Credit_Cards")
plt.ylabel("Avg_Credit_Limit")
plt.show()

In [ ]:
from sklearn.cluster import KMeans
kmeans=KMeans(n_clusters=5,init='k-means++',random_state=42)
y_kmeans=kmeans.fit_predict(X)

In [ ]:
y_kmeans

In [ ]:
superviser=dataset

In [ ]:
superviser

In [ ]:
superviser["cluster_group"]=y_kmeans

In [ ]:
superviser

In [ ]:
dir(kmeans)

In [ ]:
centroids=kmeans.cluster_centers_

In [ ]:
centroids

In [ ]:
superviser.to_csv("cluster.csv",index= False)

In [ ]:
import seaborn as sns
facet=sns.lmplot(data=superviser,x=superviser.columns[3],y=superviser.columns[2],hue=superviser.columns[5],fit_reg=False,legend=True,legend_out=True)